body {
  background-image: url("https://wallpapercave.com/wp/wp4076117.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 100vh;           
  flex-direction: column;
}

.weather-box {
  border: 2px solid gray;
  padding: 50px;
  box-shadow: 4px 4px 62px white;
  width: 300px;
  height: 200px;
}

/* .weather-box > div, .weather-box > h2, .weather-box > h3 { 
  color : white 
}
 */
